/*Main styles*/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, ul {
    margin: 0;
    padding: 0; 
}

body {
    border-top: 8px solid #f2ac04;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    margin: auto;
    max-width: 1000px;
}

/*End main styles*/

/*Shared styles*/

.logo {
   position: relative;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.logo:after, .logo:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    background: #f2ac04;
    z-index: 5;
    top: 0;
}

.logo:after {
    left: 15px;
}

.logo:before {
    left: 0;
    opacity: 0.54;
}

.logo_size_large {
    width: 210px;
    height: 55px;
    font-size: 34px;
}

.logo_size_large:after, .logo_size_large:before {
    width: 55px;
    height: 55px;
}

.logo_size_little {
    width: 210px;
    height: 65px;
    font-size: 34px;
}

/*End shared styles*/

/*Header styles*/

.header__top {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 35px 0;
}

.header__title {
    margin: 0 0 10px 0;
    color: #f2ac04;
    font-weight: inherit;
    text-transform: uppercase; 
}

.header__text {
    color: #929292;
    font-size: 14px;
}

.header__description {
    border-left: 1px solid #cac8c5;
    margin-left: 40px;
    padding: 0 0 0 27px; 
    min-width: 400px;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

.header__link {
    padding: 15px 35px;
    text-transform: uppercase;
    color: #6b6b6b;
    display: block;
    cursor: pointer;
}

.header__link:hover {
    text-decoration: underline;
}

.header__menu li:first-child .header__link {
    padding-left: 0;
}

/*End header styles*/

/*Banners styles*/

.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #cccccc;
    align-items: flex-start;
}

.banners__title {
    width: 100%;
    font-weight: 100;
    text-transform: uppercase;
    color: #555656;
    font-size: 12px;
    font-family: 'tahoma';
    padding-top: 40px;
}

.banners__left {
    border: 1px solid #b0b0b0;
}

.banners__control {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banners__btnL, .banners__btnR {
    color: #f2ac04;
    cursor: pointer;
    font-size: 25px;
    padding: 15px 0;
}

.banners__left, .banners__right {
    width: 48%;
}

.banners__img {
    width: 100%;
}

.banners__description {
    border-top: 1px solid black;
    margin: 0;
    padding-top: 15px;
    color: #3c3c3c;
    font-family: Helvetica;
}

.banners__overlay {
    position: absolute;
    left: 0;
    top: 50px;
    color: white;
    padding: 15px;
}

.banners__wrap {
    position: relative;
}

.banners_overlayWeightText, .banners_overlayText {
font-family: 'Novecentowide';
text-transform: uppercase;
}

.banners_overlayWeightText {
font-size: 40px;
margin: 10px 0 0 0;
}

.banners_overlayText {
    font-weight: normal;
    font-size: 26px;
    margin: 0;
}
   
.moreLink {
    margin-left: auto;
    width: 65px;
    color: white;
    background: black;
    text-align: center;
    display: flex;
    line-height: 20px;
}

.moreLink__arrow {
    border-left: 1px solid white;
    padding: 2px 0 2px 5px; 
    font-size: 18px;
    font-weight: 600;
}

.moreLink__text {
    padding: 2px 5px;
    display: block;
} 

/*End banners styles*/

/*Block info styles*/

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info__contacts, .info__about, .info__news {
width: 33.33%;
}

.info__about {
border-right: 1px solid #cccccc;
border-left: 1px solid #cccccc;
padding: 0 35px;
width: 271px;
font-size: 16px;
line-height: 23px;
color: #3c3c3c;
font-family: "Helvetica CE";
}

.info__contacts {
    padding-left: 35px;
}

.info__news {
    padding-right: 10px;
}

.info__title {
    margin: 0 0 35px 0;
    color: #565656;
    font-family: "Helvetica";
    font-size: 20px;
    text-transform: uppercase;
}

.info__chapter {
    font-size: 16px;
    color: #565656;
    font-family: "Myriad Pro";
    margin: 0 0 10px 0;
}

.info__description {
font-size: 14px;
color: #939393;
font-family: "Tahoma";
margin: 0;
}

.info__article {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px dashed #636363;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.info__date {
    border-right: 1px solid #cccccc;
    padding: 0 10px 0 3px;
    margin-right: 10px;
}

.info__no {
font-size: 18px;
color: #f2ac04;
font-family: "Helvetica Neue LT";
font-weight: bold;
font-style: normal;
}

.info__mon {
    font-style: normal;
    font-size: 10px;
    color: #777777;
    font-family: "Interstate Cond Mono";
    text-transform: uppercase;
}

.info__icons {
    color: #c0c0c0;
    font-size: 28px !important;
    width: 35px;
    margin-right: 20px;
    text-align: center;
}

.info__item {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #636363;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.info__item:last-child {
    border-bottom: none;
    align-items: flex-start;
}

.info__phones {
font-size: 18px;
color: #757575;
font-weight: bold;
}

.info__address {
font-size: 16px;
letter-spacing: 2px;
color: #757575;
}

/*End block info styles*/

/*Clients styles*/

.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 25px 0;
    margin: 60px 0 25px 0;
    border-bottom: 1px solid #ccc;
}

.clients__title {
    position: absolute;
    top: -15px;
    left: 5%;
    margin: 0;
    background: #fff;
    width: 150px;
    text-align: center;
    font-size: 14px;
    color: #343434;
    font-family: "Tahoma";
    text-transform: uppercase;
}



/*End clients styles*/

@media(max-width: 1005px) {
    .container {
        padding: 15px;
        }

    .header__link {
        padding: 10px 15px;
    }
}

@media(max-width: 975px) {
    .banners__overlay {
        top: 15px;
    }

    .banners_overlayWeightText {
        font-size: 30px;
        }
        
        .banners_overlayText {
            font-size: 24px;
        }
}

@media(max-width: 830px) {
    .info__contacts, .info__about, .info__news {
        width: 50%;
    }

    .info__about {
        border: none;
    }

    .info__contacts {
        margin-top: 15px;
    }

    .clients {
        margin: 0;
    }

}

@media(max-width: 810px) {

    .container {
    padding: 15px;
    }

    .header__top {
    justify-content: center;
    text-align: center;
    margin: 0 0 z15px 0;
    }

    .header__title {
    margin: 15px 0;
    }

    .header__description {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
    }
   
    .header__menu {
        justify-content: center;
        padding: 10px 15px;
    }

    .banners__left,
    .banners__right {
        width: 75%;    
    }

    .banners__left {
    margin-bottom: 15px;
    }
}

@media(max-width: 500px) {
    .banners__left,
    .banners__right {
    width: 95%;
    }  

    .banners_overlayWeightText {
    font-size: 24px;
    }
            
    .banners_overlayText {
    font-size: 18px;
    }

    .info__contacts, .info__about, .info__news {
    width: 90%;
    }

    .info__about {
    margin-top: 15px;
    }
}